.carousel-container {
    height: 600px;
  }
  .carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }